node_modules/
tools/
dist/
pack-payload/
linux/dist/
linux/LinuxSetup/linux-unpacked/
linux/LinuxSetup/builder-debug.yml
windows/dist/
windows/WindowsSetup/*-unpacked/
windows/WindowsSetup/builder-debug.yml
MacOS/MacOSSetup/*-unpacked/
MacOS/MacOSSetup/mac/
MacOS/MacOSSetup/mac-*/
MacOS/MacOSSetup/builder-debug.yml
*.log
.DS_Store
secrets.json
